<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ProduitServlet</display-name>
    <servlet-name>ProduitServlet</servlet-name>
    <servlet-class>com.G5GestionProduit.application.ProduitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>G5-GestionProduit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Pages sécurisées</web-resource-name>
      <url-pattern>/secured/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>utilisateur</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>MonRealm</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login-error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>utilisateur</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>com.G5GestionProduit.application.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
</web-app>